datasets/*
data/__pycache__/*
tensorboard_dense/*
tensorboard_temp/*
output/*
annotation/*
__pycache__/*
model_final_f05665.pkl
models/__pycache__/*
runs/*
transform/__pycache__/*
nlg-eval/*
.vscode/launch.json
.vscode/settings.json
tensorboard_region/*
region_model/model/__pycache__/*
region_model/model_result/*
train_dense_output.txt
train_dense_region.txt
CODE_OF_CONDUCT.md
CODEOWNERS
cog.yaml
LICENSE.txt
inference_dense_output.txt
train_dense_output.txt
train_dense_region.txt
.gitignore
comet_code/*
